<section class="context-dark">
  <!-- Swiper-->
  <div data-height="33%" data-min-height="600px" data-dots="true" class="swiper-container swiper-slider">
    <div class="swiper-wrapper">
      <div data-slide-bg="http://via.placeholder.com/1920x640" style="background-position: center center" class="swiper-slide swiper-slide-overlay-disable"></div>
      <div data-slide-bg="http://via.placeholder.com/1920x640" style="background-position: center center" class="swiper-slide swiper-slide-overlay-disable"></div>
      <div data-slide-bg="http://via.placeholder.com/1920x640" style="background-position: center center" class="swiper-slide swiper-slide-overlay-disable"></div>
    </div>
    <div class="swiper-caption-wraper">
      <div class="shell section-41">
        <div class="range range-xs-center">
          <h1 class="text-bold">Professional realtor works for you</h1>
          <div class="cell-xs-10 cell-md-7 cell-lg-6">
            <div class="offset-top-24 offset-md-top-50 text-left">

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Swiper Pagination-->
    <div class="swiper-pagination swiper-pagination-type-2"></div>
  </div>
</section>
