<section class="rd-parallax context-dark">
  <div data-speed="0.2" data-type="media" data-url="http://via.placeholder.com/1920x362" class="rd-parallax-layer"></div>
  <div data-speed="0" data-type="html" class="rd-parallax-layer">
    <div class="shell section-top-34 section-sm-top-98 section-bottom-34">
      <div>
        <h1 class="text-bold">{{ page.title | escape }}</h1>
      </div>
      <ul class="list-inline list-inline-dashed p text-light breadcrumb-modern offset-top-10 offset-sm-top-66">
        <li class="active"><a href="{{ site.url }}">Home</a></li>
        <li> {{ page.title | escape }}</li>
      </ul>
    </div>
  </div>
</section>
